<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <!-- SlickUI -->
    <link rel="stylesheet" href="https://slickui-component-library.netlify.app/style.css">
    <link rel="stylesheet" href="/style.css">
    <title>wishlist</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="nav d-flex jc-sb align-ctr">
        <a href="/index.html" class="logo font-lg">
            Fashionkart
        </a>
        <ul class="nav-links  list-none  d-flex">
            <li>
                <a href="/index.html" class="fonts-md margin-sm">Home</a>
            </li>
            <li>
                <a href="/components/pages/product/product.html" class="fonts-md margin-sm">Products</a>
            </li>
            <li>
                <a href="/components/pages/wishlist/wishlist.html" class="fonts-md margin-sm">Wishlist</a>
            </li>
            <li>
                <a href="/components/pages/cart/cart.html" class="fonts-md margin-sm">Cart</a>
            </li>
        </ul>
        <!-- nav-icons -->
        <ul class="nav-icons list-none ">
            <li>
                <a href="/components/pages/wishlist/wishlist.html" class="margin-md-r ">
                    <i class="fas fa-heart "></i>
                </a>
                <div class="whislist-item profile margin-md-r font-sm text-center"> 4</div>
            </li>
            <li>
                <a href="/components/pages/cart/cart.html" class="margin-md-r ">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <div class="whislist-item profile margin-md-r font-sm text-center"> 3</div>
            </li>
            <li> <a href="#" class="profile margin-md-r font-sm  font-bold d-flex jc-ctr align-ctr">LK</a></li>
            <li>
                <a href="#" class="btn-clear font-sm padding-xsm">
                    Logout
                </a>

            </li>
        </ul>

        <div class="hamburger crsr-ptr ">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    <h1 class="wishlist-heading text-center">My Wishlist</h1>
    <div class="product-container wishlist d-flex jc-ctr align-ctr flex-wrap font-sm">
        <div class="product-card">
            <i class="fas fa-heart wish wish-icon padding-sm font-lg crsr-ptr"></i>
            <span class=" product-badge padding-xsm-x">
                75% off
            </span>

            <img class="img-height "
                src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/xarrival3.png.pagespeed.ic.6pUhpQWmz8.webp">

            <div class="margin-sm">
                <div class="d-flex align-ctr font-bold padding-xsm-b ">
                    <span>Men's Stylish plain white shirt</span>
                    <div class="product-rating d-flex jc-ctr align-ctr padding-xsm ">
                        4.4
                        <i class="fas fa-star padding-xsm-l"></i>
                    </div>
                </div>

                <p class="store-name font-bold margin-sm-t">Fashion Store</p>
                <p class="margin-sm-y">
                    <span class=" font-bold margin-sm-r">₹459 </span>
                    <span class="line-through margin-sm-r">₹1,849 </span>
                    <span class="offer font-bold"> 75% off </span>
                </p>
            </div>
            <button class="card-btn btn btn-solid-primary padding-sm btn-width font-sm crsr-ptr">Add to
                Cart</button>
        </div>
        <div class="product-card">
            <i class="fas fa-heart wish wish-icon padding-sm font-lg crsr-ptr"></i>
            <span class=" product-badge padding-xsm-x">
                #1 Best Seller
            </span>

            <img class="img-height "
                src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/xarrival4.png.pagespeed.ic.5Smwo1MlKN.webp">

            <div class="margin-sm">
                <div class="d-flex align-ctr font-bold padding-xsm-b ">
                    <span>Men Slim Fit Checkered Spread Collar Casual Shirt</span>
                    <div class="product-rating d-flex jc-ctr align-ctr padding-xsm ">
                        4.5
                        <i class="fas fa-star padding-xsm-l"></i>
                    </div>
                </div>

                <p class="store-name font-bold margin-sm-t">Fashion Store</p>
                <p class="margin-sm-y">
                    <span class=" font-bold margin-sm-r">₹1078 </span>
                    <span class="line-through margin-sm-r">₹1,899 </span>
                    <span class="offer font-bold"> 43% off </span>
                </p>
            </div>
            <button class="card-btn btn btn-solid-primary padding-sm btn-width font-sm crsr-ptr">Add to
                Cart</button>
        </div>
        <div class="product-card">
            <i class="fas fa-heart  wish wish-icon padding-sm font-lg crsr-ptr"></i>
            <span class=" product-badge padding-xsm-x">
                Deal of the day
            </span>

            <img class="img-height "
                src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/xarrival1.png.pagespeed.ic.Kt8DnYMTCO.webp">

            <div class="margin-sm">
                <div class="d-flex align-ctr font-bold padding-xsm-b ">
                    <span>Full Sleeve Plain Boys Sweatshirt</span>
                    <div class="product-rating d-flex jc-ctr align-ctr padding-xsm ">
                        4.1
                        <i class="fas fa-star padding-xsm-l"></i>
                    </div>
                </div>

                <p class="store-name font-bold margin-sm-t">Fashion Store</p>
                <p class="margin-sm-y">
                    <span class=" font-bold margin-sm-r">₹244</span>
                    <span class="line-through margin-sm-r">₹1,999 </span>
                    <span class="offer font-bold"> 87% off </span>
                </p>
            </div>
            <button class="card-btn btn btn-solid-primary padding-sm btn-width font-sm crsr-ptr">Add to
                Cart</button>
        </div>
        <div class="product-card">
            <i class="fas fa-heart wish wish-icon padding-sm font-lg crsr-ptr"></i>
            <span class=" product-badge padding-xsm-x">
                75% off
            </span>

            <img class="img-height "
                src="https://preview.colorlib.com/theme/shionhouse/assets/img/gallery/xarrival3.png.pagespeed.ic.6pUhpQWmz8.webp">

            <div class="margin-sm">
                <div class="d-flex align-ctr font-bold padding-xsm-b ">
                    <span>Men's Stylish plain white shirt</span>
                    <div class="product-rating d-flex jc-ctr align-ctr padding-xsm ">
                        4.4
                        <i class="fas fa-star padding-xsm-l"></i>
                    </div>
                </div>

                <p class="store-name font-bold margin-sm-t">Fashion Store</p>
                <p class="margin-sm-y">
                    <span class=" font-bold margin-sm-r">₹459 </span>
                    <span class="line-through margin-sm-r">₹1,849 </span>
                    <span class="offer font-bold"> 75% off </span>
                </p>
            </div>
            <button class="card-btn btn btn-solid-primary padding-sm btn-width font-sm crsr-ptr">Add to
                Cart</button>
        </div>
    </div>

    <footer class="footer">
        <div class="d-flex jc-se padding-md-x padding-sm-x">
            <div>
                <div class="footer-heading font-bold fonts-md ">Quick Links</div>

                <ul class=" d-flex flex-col list-none margin-sm-y fonts-md">
                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/components/pages/product/product.html">Products</a>
                    </li>
                    <li>
                        <a href="/components/pages/cart/cart.html">My Cart</a>
                    </li>
                    <li>
                        <a href="/components/pages/wishlist/wishlist.html">My Wish List</a>
                    </li>
                </ul>
            </div>

            <div>
                <div class="footer-heading font-bold fonts-md  text-center">Connect with me</div>

                <ul class=" list-none d-flex margin-sm-y">
                    <li>
                        <a href="/ https://github.com/Lokeshkhati" target="blank"> <i
                                class="fab fa-github  fonts-md"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/lokesh-khati/" target="blank"> <i
                                class="fab fa-linkedin  fonts-md"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LOKESHKHATI12" target="blank"> <i
                                class="fab fa-twitter  fonts-md"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="fab fa-instagram  fonts-md  " target="blank"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>